
.main{
  padding: 5rem 0.5em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backlink {
    position: fixed;
    top:10px;
    left:10px;
    background-color: white;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.detail {
  padding: 1.0em;
  background-color: white;
  border-radius: 5px;
  width: 600px;
}

.title {
 text-align: center;
}

.nav {

}

.nav a {
  display: block;
  position: relative;
  padding-left: 20px;
}

.nav a:before{
  content:">";
  position:absolute;
  text-align:left;
  color:#aaa;
  left:0px;
}

.inner h2{
 border-top: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 padding-left: 0.5em;
}

.inner ul {
  padding-inline-start: 30px;
}

.inner .image {
  text-align: center;
}

.inner .movie {
  text-align: center;
}

.inner .movie video{
  text-align: center;
  width: 90%;
  max-height: 320px;
}

.inner img{
  width: 100%;
  max-width: 480px;
}

.detail .code {
  border: 1px solid #ccc;
  padding: 5px;
  overflow-x: auto; /* ⭐ */
  -webkit-overflow-scrolling: touch; /* ⭐ */
  background-color: #eee;
  border-radius: 5px;
  font-size: 1.1em;
}

.code code{
  overflow-x: scroll;
}



@media (max-width: 600px) {
  .main {
    padding:10px 15px;
  }

 .detail {
  padding:10px;
  width: auto;
  max-width: 95%;
 }
 
 .inner {
   padding:10px 10px;

 }

 .inner h2{
    font-size: 1.2em;
 }


}
